<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appname" value="CSV Pipeline Example" />
    <add key="inputdirectory" value=".\input" />
    <add key="outputdirectory" value=".\output" />
    <add key="backupdirectory" value="" />
    <add key="errordirectory" value="" />
    <add key="encoding" value="UTF-8" />
    <add key="withoutbom" value="true" />
    <add key="delimiter" value="," />
    <add key="trace.templatepath" value=".\output\CSV_PIPELINE_%YYYYMMDD%.log" />
    <add key="trace.level" value="Information" />
  </appSettings>
</configuration>
