<?xml version="1.0" encoding="utf-8" ?>
<!--
/*******************************************************************************
* ファイル名:SAMPLE_APP.CONFIG
* 概要:汎用データ連携サンプルアプリケーション
*
* 履歴:
*   バージョン      日付        作成者      内容
*   25.1-001-01     2013/08/02  姜  恵遠    新規作成
*
*******************************************************************************/
-->
<configuration>
    <!-- Replace these placeholders with connections for your environment. -->
    <connectionStrings>
        <add name="mssql_datasource1" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=SOURCE_DB;Integrated Security=True;" />
        <add name="mssql_datasource2" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=TARGET_DB;Integrated Security=True;" />
        <add name="oracle_datasource1" providerName="System.Data.OracleClient" connectionString="DATA SOURCE=ORCL;USER ID=user;PASSWORD=password" />
        <add name="oracle_datasource2" providerName="System.Data.OracleClient" connectionString="DATA SOURCE=ORCL2;USER ID=user;PASSWORD=password" />
        <add name="pgsql_datasource1" providerName="Npgsql" connectionString="Server=localhost;Port=5432;User ID=user;Password=password;Database=target_db" />
    </connectionStrings>
    <appSettings>
        <!-- アプリケーション名 -->
        <add key="appname" value="汎用データ連携サンプルアプリケーション" />
        <!-- ログの出力先 -->
        <add key="trace.templatepath" value=".\SAMPLE_%YYYYMMDD%.log" />
		<!-- その他の設定 -->
		<add key="sample_setting" value="this is sample setting"/>
    </appSettings>
</configuration>
