<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="MSSQL" providerName="System.Data.SqlClient" connectionString="Data Source=MSSQL;Initial Catalog=MSSQLDatabase;integrated security=True;Persist Security Info=True;" />
    <add name="ORACLE" providerName="System.Data.OracleClient" connectionString="DATA SOURCE=OracleDatabase;PASSWORD=login password;PERSIST SECURITY INFO=True;USER ID=login id" />
    <add name="PGSQL" providerName="Npgsql" connectionString="Server=localhost;Port=15432;User ID=login id;Password=login password;Database=PGSQLDatabase" />
    <add name="__TEMPDB__" providerName="System.Data.SqlClient" connectionString="Data Source=MSSQL;Initial Catalog=tempdb;integrated security=True;Persist Security Info=True;" />
  </connectionStrings>
  <appSettings>
    <!-- アプリケーション定義ファイル格納フォルダ -->
    <add key="appdirectory" value=".\" />
    <!-- 出力フォルダ -->
    <add key="outputdirectory" value=".\Data" />
    <!-- 入力フォルダ -->
    <add key="inputdirectory" value=".\Data" />
    <!-- バックアップフォルダ -->
    <add key="backupdirectory" value=".\Backup" />
    <!-- エラーフォルダ -->
    <add key="errordirectory" value=".\Err" />
    <!-- 文字コード -->
    <add key="encoding" value="SJIS" />
    <!-- 項目間の区切り文字 -->
    <add key="delimiter" value="," />
    <!-- レコード間の区切り文字(改行文字) -->
    <add key="rowdelimiter" value="" />
    <!-- GZIP圧縮利用可否 -->
    <add key="usegzip" value="true" />
    <!-- 常にフィールドを引用符で囲む -->
    <add key="alwaysfieldsencloseinquotes" value="true" />
    <!-- ファイル読み飛ばし行数 -->
    <add key="skipreadrows" value="0" />
    <!-- 最大読み込み行数 -->
    <add key="maxreadrows" value="999999999" />
    <!-- 最大出力行数 -->
    <add key="maxwriterows" value="10000" />
    <!-- SQLコマンドのタイムアウト -->
    <add key="sqlcommandtimeout" value="7200" />
    <!-- NULL置換テキスト -->
    <add key="nulltext" value="" />
    <!-- ヘッダ出力可否 -->
    <add key="writeheaders" value="false" />
    <!-- 常にファイルを作成する -->
    <add key="alwayscreatefile" value="true" />
    <!-- 21.3-001-01 ADD START -->
    <!-- BOMなし(UTF-8文字コードのみ適応) -->
    <add key="withoutbom" value="false" />
    <!-- 21.3-001-01 ADD END -->
    <!-- ログファイル格納先 -->
    <add key="trace.templatepath" value=".\DTFX_%YYYYMMDD%.log" />
    <!-- All,Off,Critical,Error,Warning,Information,Verbose -->
    <add key="trace.level" value="Information" />
    <add key="trace.autoflush" value="true" />
    <add key="trace.erroreventid" value="100" />
    <add key="trace.eventsource" value="DTFX" />
    <add key="trace.errorevententrytype" value="Warning" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
